.wrapper {
  margin: 20px 0;
  .inputs {
    display: flex;
    align-items: center;
  }
  .select {
    margin-right: 20px;
  };
  .textField {
    margin-left: 10px;
  }
  .balance {
    padding: 10px 0;
    font-size: 12px;
    color: #888888;
  }
}
